body {
    background-color: rgba(93, 198, 165, 0.5);
    background-image: url("a.png");
    background-repeat: no-repeat;
    background-position-x: 79%;
    background-position-y: 25px;
    background-size: 25%;
    background-attachment: scroll;
    border-style: inset;
    border-width: 16px;
    border-bottom-width: 50px;
    border-color: rgba(91, 42, 128, 0.5);
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 7%;
}

    .border {
    border-style: inset;
    border-width: 25px;
    border-color: rgba(91, 42, 128, 0.5);
}
