body {
    background-color: rgba(93, 198, 165, 0.5);
    background-image: url("a.png");
    background-repeat: no-repeat;
    background-position-x: 79%;
    background-position-y: 25px;
    background-size: 25%;
    background-attachment: fixed;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 7%;;
}
